node_modules
storage/logs/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*
public/storage
.DS_Store
Thumbs.db
vendor
.phpunit.result.cache
tests
.vscode
.idea